/* Проекти */
h1 {
    font-size: 2em;
    text-align: center;
}

p {
    font-size: 1.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.projects>div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 1em;
}

.images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.images img, .images video {
    width: 100%;
}

.btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1em;
    margin-bottom: 1em;
}

.btn a,
.projects a {
    text-decoration: none;
}

.btn div,
.project {
    background-color: rgb(50, 60, 75);
    margin: 0.2em;
    padding: 1em;
    border-radius: 10px;
    font-size: 1em;
    text-align: center;
}

.btn div:hover,
.project:hover {
    background-color: rgb(60, 70, 90);
}


@media (max-width: 1000px) {
    .projects>div {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .projects>div {
        grid-template-columns: repeat(1, 1fr);
    }

    .images {
        grid-template-columns: repeat(1, 1fr);
    }

    h1 {
        font-size: 1.5em;
        text-align: center;
    }

    p {
        font-size: 1em;
    }
}
